{% extends 'base.html' %}
{% block body %}
{% load static %}
    <div class="col-md-3"></div>
    <div class="col-md-6 well">
    <h3 class="text-primary"></h3>

    <center><h1>Registration</h1></center>
    <hr>

    <form method="POST" action="register" >
        {% csrf_token %}
    
    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" class="form-control" required="required"/><br>
        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" class="form-control" required="required"/><br>
        <label for="middleName">Middle Name:</label>
        <input type="text" name="middleName" class="form-control" required="required"/><br>
        <label for="disability">Disability:</label>
        <select name="disability" class="form-control" required="required">
        <option>Psychosocial Disability</option>
        <option>Chronic Illness</option>
        <option>Learning Disability</option>
        <option>Mental Disability</option>
        <option>Visual Disability</option>
        <option>Orthopedic Disability</option>
        <option>Communication Disability</option>
        </select><br>
        <label for="Address">Address:</label>
        <input type="text" name="Address" class="form-control" required="required"/><br>
        <label for="Age">Age:</label>
        <input type="number" name="Age" class="form-control" required="required"/><br>
        <label for="Gender">Gender:</label><br>
        <select name=Gender class="form-control" required="required">
            <option>Male</option>
            <option>Female</option>
        </select><br>
        <label for="ContactNumber">ContactNo:</label>
        <input type="text" name="ContactNumber" class="form-control" required="required"/><br>
        <label for="BirthDate">Birth Date:</label>
        <input type="date" name="BirthDate" class="form-control" required="required"/><br>
        <label for="File">2x2 pic</label>
        <input type="file" name="2x2File" class="form-control" required="required"/><br>
        <label for="COIFile">Certificate of Indigency :</label>
        <input type="file" name="COIFile" class="form-control" required="required"/><br>
        <label for="MCFile">Medical Certificate :</label>
        <input type="file" name="MCFile" class="form-control" required="required"/><br>


        <button onclick="msg()" type="submit" class="btn btn-sm btn-primary"> Confirm</button>
        
    </div>
    </form>
<br />


</body>
<script>
function msg() {
  alert("Success! processing data please wait for our Email");
}
</script>

{% endblock %}