
body {


	--color-primary: #009579;
	--color-primary-dark: #007f67;
	--color-secondary: #252c6a;
	--color-error: #cc3333;
	--color-success: #4bb544;
	--border-radius: 4px;


	display: flex;
	height: 90vh;
	align-items: center;
	justify-content: center;
	background-image: url(/static/admin/img/pwd.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.container {
	width: 400px;
	max-width:400px;
	margin: 1rem;
	padding: 2rem;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
	border-radius: var(--border-radius);
}
.form--hiden{
	display: none;
}

.form__header{
	color: #D2691E;
	text-shadow: #000000.2rem .1rem;
	margin-bottom: 2rem;
	text-align: center;
}

.form > *:first-child{
	margin-top: 0;
}
.form > *:last-child{
	margin-bottom: 0;
}

.form__message {
	text-align: center;
	margin-bottom: 1rem;
}
.form__message--success{
	color: var(--color-success);
}
.form__message--error{
	color: black;
}
.form__input{
	display: block;
	width: 100%;
	padding: 0.75rem;
	box-sizing: border-box;
	border-radius: var(--border-radius);
	border: 1px solid #dddddd;
	outline: none;
	background: #eeeeee;
	transition: background 0.2s, border-color 0.2s;

}
.form__input:focus{
	border-color: var(--color-primary);
	background: #ffffff;
}
.form__input-error{
	border-color: var(--color-error);
}
.inputErrormsg {
	margin-top: 0.5rem;
	font-size: 0.85rem;
	color:var(--color-error);
}

.loginButton{
	align-self: center;
	width: 100%;
	padding: .7rem 1rem;
	font-weight: bold;
	font-size: 1.1rem;
	color: #ffffff;
	border-radius: var(--border-radius);
	outline: none;
	cursor: pointer;
	background: #D2691E;

}
.loginButton:hover {
	background:#FFA07A;
}

.loginButton:active {
	transform: scale(0.98);
}
.formText{
	text-align: center;
}
.form__link{
	color:var(--color-secondary);
	text-decoration: none;
	cursor:pointer;
}
.form__link:hover{
	text-decoration: underline;
}
